## Kelompok 6
1. Imam Chalish Rafidhul Haque (2207260)
2. Rakha Dhifiargo Hariadi (2209489)
3. Salma Ghaida (2207186)
4. Themy Sabri Syuhada (2203903)

## Praposes data
Mengubah tipe data atribut
* mengubah datatype atribut status_sinyal menjadi category
* mengubah datatype atribut keberadaan_internet, kepemilikan_internet, ketersediaan_tower_bts, keberadaan_telkomsel, keberadaan_indosat, keberadaan_xl_axiata, keberadaan_operator_lain menjadi boolean


Mengatasi data yang tidak masuk akal
* data pada atribut keberadaan_operator_lain dengan atribut operator lainnya tidak sesuai

In [37]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_excel("D:\\codinglucu\\Semester3\\DMW\\EDA\\provider.xlsx")
df_baru = df2[["bps_nama_desa","status_sinyal", "keberadaan_internet", "kepemilikan_internet", "ketersediaan_tower_bts", "jarak_tower_terdekat", "keberadaan_telkomsel", "keberadaan_indosat", "keberadaan_xl_axiata", "keberadaan_operator_lain", "operator_lainnya", "tahun"]]
df_baru.head(5)

,bps_nama_desa,status_sinyal,keberadaan_internet,kepemilikan_internet,ketersediaan_tower_bts,jarak_tower_terdekat,keberadaan_telkomsel,keberadaan_indosat,keberadaan_xl_axiata,keberadaan_operator_lain,operator_lainnya,tahun
0,WANAHERANG,SINYAL KUAT,ADA,ADA,ADA,1.0,ADA,ADA,ADA,ADA,TRI,2021
1,BOJONG KULUR,SINYAL KUAT,ADA,ADA,ADA,1.0,ADA,ADA,ADA,ADA,TRI,2021
2,CIANGSANA,SINYAL KUAT,ADA,ADA,ADA,200.0,ADA,ADA,ADA,ADA,TRI,2021
3,GUNUNG PUTRI,SINYAL KUAT,ADA,ADA,ADA,1.0,ADA,ADA,ADA,ADA,"TRI, AXIS, SMARTFREN",2021
4,BOJONG NANGKA,SINYAL KUAT,ADA,ADA,ADA,1.0,ADA,ADA,ADA,ADA,"TELKOMSEL, XL, IM3, INDOSAT, AXIS",2021

In [42]:
# df_baru["status_sinyal"] = df_baru["status_sinyal"].astype("category")
# df.isna().sum()

id                                0
kode_provinsi                     0
nama_provinsi                     0
kode_kabupaten_kota_kemendagri    0
nama_kabupaten_kota_kemendagri    0
bps_kode_kecamatan                0
bps_nama_kecamatan                0
bps_kode_desa                     4
bps_nama_desa                     4
kemendagri_kode_kecamatan         0
kemendagri_nama_kecamatan         0
kemendagri_kode_desa              4
kemendagri_nama_desa              0
status_sinyal                     0
keberadaan_internet               0
kepemilikan_internet              0
ketersediaan_tower_bts            0
jarak_tower_terdekat              0
keberadaan_telkomsel              0
keberadaan_indosat                0
keberadaan_xl_axiata              0
keberadaan_operator_lain          0
operator_lainnya                  0
tahun                             0
dtype: int64